<div class="container">
  <% unless account_signed_in? %>
    <div class="row">
      <div class="col">
        <h2 class="h5">Trending Today</h2>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        Trending 1
      </div>
      <div class="col-sm-3">
        Trending 2
      </div>
      <div class="col-sm-3">
        Trending 3
      </div>
      <div class="col-sm-3">
        Trending 4
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <h2 class="h5">Popular Posts</h2>
    </div>
  </div>
  <section class="row">
    <article class="col-8">
      <%= render partial: "posts/list", locals: { posts: @posts } %>
    </article>
    <aside class="col-4">
      <h3 class="h5 mb-4">Up and coming Communities</h3>
      <% if @communities.size > 0 %>
        <ul class="list-group">
          <% @communities.each do |community| %>
            <li class="list-group-item"><%= link_to community.name, community_path(community), class: "text-decoration-none" %></li>
          <% end %>
        </ul>
        <%= link_to "View all", communities_path, class: "btn btn-primary mt-3" %>
      <% else %>
        <p>There are no communities to display.</p>
        <% if account_signed_in? %>
          <%= link_to "Create a new community", new_community_path, class: "btn btn-outline-primary" %>
        <% end %>
      <% end %>
    </aside>
  </section>
</div>
