<header class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3 mb-4 border-bottom">
      <div class="float-end">
        <%= link_to "Log in", new_account_session_path, class: "btn btn-outline-primary" %>
        <%= link_to "Sign up", new_account_registration_path, class: "btn btn-primary" %>
      </div>
      <h1 class="h3">Reddit Clone</h1>
    </div>
  </div>
</header>
